<h1>Rock vs Paper vs Scissors</h1>

Game version: <%= game.version %>

<h3>You: <%= state.score[0] %> vs Computer: <%= state.score[1] %></h3>

<div id="weapons"></div>

<button id="reset-game">Restart game</button>
