<h1>Rock vs Paper vs Scissors</h1>

Game version: <%= game.version %>

<span class="<%= state.connection %>">
  <% switch (state.connection) {
    case 'online':%>
      Connected to server
      <% break;

    case 'offline':
    default:%>
      Not connected
      <% break;
  } %>
</span>

<h3>You: <%= state.score[0] %> vs Enemy: <%= state.score[1] %></h3>

<div id="weapons"></div>

<button id="reset-game">Restart game</button>
